{%  load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'ressouce/fonts/boxicons/css/boxicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'ressouce/glightbox-master/dist/css/glightbox.min.css' %}">
    <link rel="stylesheet" href="{% static 'ressouce/bootsrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'ressouce/aos/aos.css' %}">
    <link rel="stylesheet" href="{% static 'ressouce/style.css' %}" >


    <title>Yakka_officiel</title>
</head>
<body style="background: #040b14;">
    {% block content  %}
    {% endblock %}
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bx bx-up-arrow-alt"></i></a>
    <script src="{% static 'ressouce/javascript/java.js' %}"></script>
    <script src="{% static 'ressouce/bootsrap/js/bootstrap.js' %}"></script>
    <script src="{% static 'ressouce/glightbox-master/dist/js/glightbox.min.js' %}"></script>
    <script src="/static/ressouce/fslightbox-basic-3.4.1/fslightbox.js"></script>
    <script src="/static/ressouce/aos/aos.js"></script>
    <script src="/static/ressouce/javascript/toast.js" ></script>
    
</body>
</html>