<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/ressouce/fonts/boxicons/css/boxicons.min.css">
    <link rel="stylesheet" href="/ressouce/glightbox-master/dist/css/glightbox.css">
    <link rel="stylesheet" href="/ressouce/bootsrap/css/bootstrap.css">
    <link rel="stylesheet" href="/ressouce/style.css" >
    <title>Document</title>
</head>
<body>

    <section class="details">
        <div class="section-details">
            <div class="image">
                <img src="/ressouce/img/IMG-20230116-WA0006_2.jpg">
            </div>
            <div class="present">
                <div class="presents">
                    <h1>Lorem ipsum.</h1>
                    <p><span>Titre:</span> Lorem ipsum dolor sit.</p>
                    <p><span>Titre:</span> Lorem ipsum dolor sit.</p>
                    <p><span>Titre:</span> Lorem ipsum dolor sit.</p>
                </div> 
            </div>
        </div>
    </section>

    <footer>
        <div class="info">
            <p> © Copyright <span>Yakka</span>  All Rights Reserved </p>
            <p> Designed by <a href="#">IfontWeb</a></p>
        </div>       
    </footer>
    <script src="/ressouce/javascript/java.js"></script>
    <script src="/ressouce/bootsrap/js/bootstrap.js"></script>
    <script src="/ressouce/glightbox-master/dist/js/glightbox.min.js"></script>
    <script src="/ressouce/javascript/index.bundle.min.js"></script>
    <script src="/ressouce/javascript/jquery.js"></script>
</body>
</html>