
<nav>
    <div class="navbars">
        <i class="bx bx-menu"></i>
        <div class="logo">
            <span class="logomenu">Yakka</span>
        </div>
        <div class="nav-links">
            <div class="present-image">
                <div class="views">
                    <div class="image">
                        <img src="/static/ressouce/img/profile.png">
                    </div>                  
                    <h1>Yakka</h1>
                    <ul>
                        <li><a href=""><i class='bx bxl-facebook-circle'></i></a></li>
                        <li><a href=""><i class='bx bxl-instagram-alt' ></i></a></li>
                        <li><a href=""><i class='bx bxl-twitter'></i></a></i></li>
                    </ul>
                </div>
                <i class="bx bx-x"></i>                    
            </div>
            <ul class="link">
                <li> <a href="{% url 'home'  %}"> Accueil</a> </li>
                <li> <a href="#biographie">Biographie</a> </li>
                <li> <a href="#Album">Nouvel Album</a> </li>
                <li> <a href="#Discographie">Discographie</a> </li>
                <li> <a href="{%  url 'contacts' %}">Contact</a> </li>
                <!-- <li>
                    <a href="#">link</a>
                    <i class="bx bxs-chevron-down  arrow"></i>
                    <ul class="sub-menu">
                        <li><a href="#">Philippe nikiema</a></li>
                        <li><a href="#">nikiepsponsor</a></li>
                        <li><a href="#">le bro des bro</a></li>
                    </ul>
                </li> -->
            </ul>
        </div>
        <div class="image">
            <img src="/static/ressouce/img/profile2.png">
        </div>
    </div>       
</nav>